---
layout: base
---

<!-- Page Header -->
<header class="masthead" style="background-image: url('{{site.baseurl}}/img/home-bg.jpg')">
  <div class="overlay"></div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h1></h1>
          <span class="subheading">身体和灵魂都要在路上，生命不息，奋斗不止！</span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Main Content -->
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-8 col-md-8 mx-auto">
      <style>.tagposts{display:none;}</style>
      <!-- 文章列表开始 -->
      {% for tag in site.tags %}
      	<div class="tagposts" id="{{tag[0]}}">
	      <h1>{{tag[0]}}</h1>
      	  {% for post in tag[1] %}
      	  	<div class="post-preview">
	          <a href="{{site.baseurl}}{{post.url}}">
	            <h2 class="post-title">{{post.title}}</h2>
	            <h3 class="post-subtitle">{{post.excerpt|strip_html|truncate:100}}</h3>
	          </a>
	          <p class="post-meta">Posted by <a href="#">{{post.author|default:site.author}}</a> on {{post.date|date_to_long_string}}</p>
	        </div>
	        <hr>
      	  {% endfor %}
      	</div>
      {% endfor %}
      <!-- 文章列表结束 -->
    </div>

    {% include aside.html %}
    </div>
  </div>
</div>

<hr>

<script>
window.onload = function()
{
	var tag = location.href.split('?').pop();
	$('#'+tag).css('display', 'block');
	$('.site-heading h1').html('标签：'+tag);
}

</script>